<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<% include incluida.ejs%>

    <h1><%= title %></h1>
    <p>Bienvenido <%= title %></p>
  	
  	<h3>el segundo actual es <%= par %></h3>
    <% if (par === 'par') { %>
    par
  	<% lista.forEach(function(elem) { %>
  	<p><%=elem %></p>
  		<%})%>
      <%}%>

  </body>
</html>
